.body{
    margin:0;
  padding: 0;
  display: flex;
       
}

#padre{
    display: flex;
    background: linear-gradient(to right, #00567ea6, pink);
    border-style: solid;
    border-color: black;
}
      

#texto{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;
    align-items: center;
    align-self: center;
   
}

button{
    background-image: linear-gradient(to right, #0080bb, pink);
    border-radius: 30px;
    font-size:20px;
      
}

img{
    width: 30rem;
   
}

h1{
    font-family: 'Herr Von Muellerhoff', cursive;
   color: #034ebe;
   font-size: 5rem;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #034ebe;
    font-size: 30px;
}

